<h3 style="text-align:center">Open orders</h3>
<table class="open_orders_table" style="margin:0 auto">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>Market</th>
			<th>Date</th>
			<th>Type</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% for(var iOrder = 0;iOrder < orders.length;++iOrder) { %>
		<tr>
			<td><%= orders[iOrder].orderid %></td>
			<td><%= orders[iOrder].market.label %></td>
			<td><%= orders[iOrder].created %></td>
			<td><%= orders[iOrder].ordertype %></td>
			<td style="text-align:right"><%= orders[iOrder].quantity %></td>
			<td style="text-align:right"><%= orders[iOrder].price %></td>
			<td style="text-align:right"><%= orders[iOrder].total %></td>
		</tr>
		<% } %>
	</tbody>
</table>